<div class="row">
  <div class="col-xl-8">
    <h2>{{label}}</h2>
  </div>
  <div class="col-xl-4">
    <div class="input-group">
      <select id="summary-select" class="custom-select d-print-none">
        {{#each definitions as |defItem defIndex|}}
          <option value="{{defIndex}}"{{#ifEqual defIndex ../summaryIndex}} selected{{/ifEqual}}>{{defItem.label}}</option>
        {{/each}}
      </select>
      <select id="summary-select-filter" class="custom-select d-print-none">
        <option value="set" selected>{{_ 'label.show_set_attributes'}}</option>
        <option value="all">{{_ 'label.show_all_attributes'}}</option>
      </select>
      <div class="input-group-append">
        <button type="button" class="btn btn-primary button-switch-to-edit">{{_ "button.edit"}}</button>
      </div>
    </div>
  </div>
</div>
<div class="summary-list"></div>